.carousel {
  display: flex;
  justify-content: center;
  gap: 50px;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__button {
    width: 75px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--color-brand-dark);
    opacity: 0.1;

    &:active {
      background-color: var(--color-brand-dark);
      opacity: 1;
    }
  }

  &__right-arrow {
    transform: rotate(180deg);
  }
}
