.carousel {
  display: flex;
  justify-content: center;
  gap: 50px;

  &__button {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}

.next {
  transform: rotate(180deg) !important;
}
