.text-brand {
  color: var(--color-primary-dark);
  font-weight: 500;
  line-height: 1.5;
}

.text-centered {
  text-align: center;
}

.description {
  text-align: center;
  margin: 0 auto 30px;
  max-width: 500px;

  @media screen and (min-width: $bp-tablet) {
    margin: 0 auto 50px;
    max-width: 735px;
  }
}
