/* Colors */
:root {
  --color-primary-dark: #000000;
  --color-primary-lighter: #000000cc;
  --color-primary-light: #00000099;

  --color-secondary-dark: #ffffff;
  --color-secondary-light: #ffffff99;

  --color-brand-dark: #c9453b;
  --color-brand-light: #2693990a;

  --color-border: #0000001a;
  --color-shadow: #00000014;
  --color-shadow-light: #00000004;
}
