/* Blog */
.blog-section {
  padding-bottom: 70px;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 140px;
  }

  @media screen and (max-width: $bp-tablet-l) and (orientation: landscape) {
    padding-bottom: 70px;
  }

  &__cards {
    @media screen and (min-width: $bp-tablet-l) {
      display: flex;
      gap: 32px;
      flex-wrap: wrap;
    }
  }

  &__cards-small {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      gap: 30px;
      flex-basis: calc((100% - 32px) / 2);
    }
  }
}
