/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  padding-top: 35px;

  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;

    justify-content: space-between;
  }

  &__logo {
    fill: var(--color-secondary-dark);
  }

  &__menu {
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-secondary-dark);

    display: flex;
    flex-grow: 1;
    gap: 50px;
    justify-content: center;

    @media screen and (max-width: $bp-desctop) {
      display: none;
    }
  }

  &__button {
    display: none;
    @media screen and (min-width: $bp-desctop) {
      display: block;
    }
  }

  &__burger {
    fill: var(--color-secondary-dark);
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @media screen and (min-width: $bp-desctop) {
      display: none;
    }
  }
}
