/* Hero Page */
.hero-section {
  color: var(--color-secondary-dark);
  background-color: var(--color-primary-light);
  background-image: url("../img/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75%;
  padding: 286px 0 244px 0;

  &__title {
    font-size: 15px;
    max-width: 804px;
    margin-bottom: 30px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 65px;
    }
  }
}

.hero-section p {
  color: var(--color-secondary-light);
  max-width: 458px;
  margin-bottom: 40px;
}
