.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary-dark);
  opacity: 0.94;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 48px;
    right: 24px;
  }
}
