/* Colors */
:root {
  --color-primary-dark: #000000;
  --color-primary-lighter: #000000cc;
  --color-primary-light: #00000099;

  --color-secondary-dark: #ffffff;
  --color-secondary-light: #ffffff99;

  --color-brand-dark: #c9453b;
  --color-brand-light: #2693990a;

  --color-border: #0000001a;
  --color-shadow: #00000014;
}

/* Fonts */
/* gelasio-500 - medium */
@font-face {
  font-display: swap;
  font-family: "Gelasio";
  font-weight: 500;
  src: url("../fonts/gelasio-v13-latin-500.woff2") format("woff2");
}
/* gelasio-700 - bold */
@font-face {
  font-display: swap;
  font-family: "Gelasio";
  font-weight: 700;
  src: url("../fonts/gelasio-v13-latin-700.woff2") format("woff2");
}
/* roboto-regular*/
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v48-latin-regular.woff2") format("woff2");
}
/* roboto-500 - medium */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v48-latin-500.woff2") format("woff2");
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary-light);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

.section {
  padding: 70px 0;
}

.container {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
  padding: 0 24px;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Gelasio";
}

h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}

h2,
h3 {
  color: var(--color-primary-dark);
  font-weight: 500;
  margin-bottom: 0;
}

h2 {
  font-size: 43px;
  line-height: 1.4;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.accent {
  color: var(--color-primary-dark);
  font-weight: 500;
  line-height: 1.5;
}

.centered {
  text-align: center;
}

.description {
  text-align: center;
  margin: 0 auto 50px;
  max-width: 735px;
}

/* Button */
.button {
  background-color: var(--color-brand-dark);
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.5;
  padding: 14px 36px;
  border-radius: 5px;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  padding-top: 35px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-menu {
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-secondary-dark);

  display: flex;
  flex-grow: 1;
  gap: 50px;
  justify-content: center;
}

/* Hero Page */
.hero-section {
  color: var(--color-secondary-dark);
  background-color: var(--color-primary-light);
  background-image: url("../img/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 286px 0 244px 0;
}

.hero-title {
  max-width: 804px;
  margin-bottom: 30px;
}

.hero-section p {
  color: var(--color-secondary-light);
  max-width: 458px;
  margin-bottom: 40px;
}

/* Location */
.location-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.location-card {
  flex-basis: calc((100% - 60px) / 2);
  max-width: 360px;
  border: solid 1px var(--color-border);
  border-radius: 10px;
}

.location-card:hover {
  box-shadow: 0 6px 35px 0 var(--color-shadow);
  cursor: pointer;
}

.location-card-img {
  display: block;
  width: 100%;
}

.location-card-text {
  padding: 34px 27px;
}

/* Offers */
.offers-cards {
  display: flex;
  gap: 74px;
  justify-content: center;
  flex-wrap: wrap;
}

.offers-card {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: calc((100%-90px) / 4);
}

.offers-card-title {
  margin-bottom: 8px;
}

.offers-rating {
  display: flex;
  gap: 50px;
}

.offers-country,
.offers-star {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.offers-country {
  gap: 8px;
  font-size: 20px;
}

.offers-star {
  gap: 10px;
}

.offers-day,
.offers-person {
  font-size: 16px;
}

/* Blog */
.blog-cards {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.blog-main-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 554px;
  flex-basis: calc((100% - 32px) / 2);
}

.blog-main-card-img {
  margin-bottom: 34px;
}

.blog-main-card-title {
  line-height: 1.6;
}

.blog-main-card-author {
  font-weight: 500;
}

.blog-author,
.blog-main-card-author {
  color: var(--color-primary-lighter);
  font-size: 20px;
  line-height: 1.5;
}

.blog-small-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: calc((100% - 32px) / 2);
}

.blog-card {
  display: flex;
  gap: 30px;
}

.blog-card-title {
  font-size: 20px;
}

.blog-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

/* Footer */
footer {
  background-color: var(--color-brand-light);
  color: var(--color-primary-dark);
  font-size: 16px;
  line-height: 1.5;
}

.footer-logo {
  fill: var(--color-brand-dark);
  stroke: var(--color-brand-dark);
}

.footer-contacts {
  line-height: 1.6;
  fill: yellow;
}

.footer-nav {
  font-weight: 500;
}

.footer-title {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
